/*Base*/

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1F1D2A;
}

h1, h2, .modal-link{
    font-weight: 600;
}

h1{
    font-size: 46px;
    line-height: 50px;      
}

@media(min-width:1400px){
    h1{
        font-size: 55px;
        line-height: 82.5px;    
    }  
}

.navbar-brand, h2{
    font-size: 32px;
    line-height: 48px;    
}

.hero-text-btn, h3{
    font-size: 20px;
    line-height: 30px;     
}

h4{
    font-size: 18px;
    line-height: 27px;    
}

h2, h4{
    text-align: center;
}

.nav-link, h5, p{
    font-size: 16px;
    line-height: 24px;
}

p{
    color: #9B948E;
}

/*Layout*/

.container{
    background-color: #E8E1DA;
}

.main-container{
    padding: 30px 55px 35px 55px;
}

@media(min-width:992px){
    .main-container{
        max-width: 90%;
        padding: 30px 110px 70px 110px;
    }
}

.block{
    padding: 10px;
}

/*Header*/
/*Navbar*/

.navbar, a.navbar-brand{
    margin: 0;
    padding: 0;
}

.nav-link{
    padding-bottom: 0;
}

.modal-link{
    padding-top: 26px;  
}

@media(min-width:992px){
    .modal-link{
        border: 1px solid;
        border-color: #1F1D2A;
        border-radius: 6px;
        width:110px;
        height: 45px;
        text-align: center;
        padding-top: 11px;
        font-weight: 400;
    }
    .modal-link:hover{
        background-color: #9B948E;
        border-color: #9B948E;
    }
}

/*Main*/

article{
    align-items: center; 
}

article .row{
    margin-top: 25px;
}

@media(min-width:992px){
    article .row{
        margin-top: 55px;
    }
}

article img{
    border-radius: 360px;
    max-width: 100%;   
}

article p{
    line-height: 30px;
}

.hero-text-btn{
    color: #1F1D2A;
    background-color: #96C67F;
    border-color: #96C67F;
    border-radius: 6px;
    padding: 15px 25px;
    margin-top: 10px;
}

.hero-text-btn:hover{
    color: #1F1D2A;
    background-color: #688a58;
    border-color: #688a58;
}

.hero-profile-label{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    margin-left: 30px;
    width: 180px;
    height: 130px;
}

.hero-profile-label h5{
    margin-bottom: 3px;
}

.hero-profile-label p{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 21px;
}

.bi-star-fill{
    color: #FFB988;
    padding-right: 8px;
}

.bi-play-circle-fill{
    font-size: 80px;
    color: #9499B7;    
}

.bi-play-circle-fill:hover{
    color: #9B948E;
}

/*Section Trusted by*/

.trusted-by-title h5{
    text-align: center;
    margin-top: 70px;
}

.trusted-by-companies{
    display: flex;
    justify-content: space-between;
}

.logo-only{
    display: block;
}

.logo-only-color{
    display: none;
}

.logo-text{
    display: none;
}

.logo-text-color{
    display: none;
}

.icon:hover .logo-only{
    display: none;
}

.icon:hover .logo-only-color{
    display: block;
}

@media(min-width:1300px){
    .logo-only{
        display: none;
    }
   .logo-text{
        display: block;
    }
    .icon-text:hover .logo-text{
        display: none;
    }
    .icon-text:hover .logo-text-color{
        display: block;
    }
}

/*Section Career*/

.career-title{
    margin-top: 70px;
    margin-bottom: 40px;
}

@media(min-width:992px){
    .career-title{
        margin-top: 90px;
    }
}

.career-title a{
    color: #1F1D2A;
    text-decoration-color: #96C67F;
}

.career-title a:hover{
    color: #688a58;
    text-decoration-color: #688a58;
}

.card{
    border-radius: 15px;
}

.card img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/*Modal*/

.modal .login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal li{
    list-style: none;
}

.modal a{
    text-decoration: none;
    color: #688a58;
    font-size: 14px;
    font-weight: 600;
}

.btn-outline-success{
    border-color: #688a58;
    color: #688a58;
}

.btn-outline-success:hover{
    background-color:#688a58;
    border-color: #688a58;
}

.modal-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}